<html>
<head>
<title>Film migliori su YouTube</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" >
</head>
<body>
<div class='container'>
<h1>Film migliori su YouTube</h1>
<table>
<tr><th>Title</th><th>Year</th><th>Rating</th></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Psycho'>Psycho</a></td><td>(1960)</td><td>97%</td><td>Alfred Hitchcock</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Best Years of Our Lives'>The Best Years of Our Lives</a></td><td>(1946)</td><td>97%</td><td>William Wyler</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Right Stuff'>The Right Stuff</a></td><td>(1983)</td><td>96%</td><td>Philip Kaufman</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Iron Giant'>The Iron Giant</a></td><td>(1999)</td><td>96%</td><td>Brad Bird</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Ghostbusters'>Ghostbusters</a></td><td>(1984)</td><td>95%</td><td>Ivan Reitman</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Memento'>Memento</a></td><td>(2000)</td><td>94%</td><td>Christopher Nolan</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Saving Private Ryan'>Saving Private Ryan</a></td><td>(1998)</td><td>94%</td><td>Steven Spielberg</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Lawrence of Arabia'>Lawrence of Arabia</a></td><td>(1962)</td><td>94%</td><td>David Lean</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+No Country for Old Men'>No Country for Old Men</a></td><td>(2007)</td><td>93%</td><td>Joel Coen</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Fighting With My Family'>Fighting With My Family</a></td><td>(2019)</td><td>93%</td><td>Stephen Merchant</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+To Catch a Thief'>To Catch a Thief</a></td><td>(1955)</td><td>92%</td><td>Alfred Hitchcock</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Stan & Ollie'>Stan & Ollie</a></td><td>(2018)</td><td>92%</td><td>Jon S. Baird</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Raging Bull'>Raging Bull</a></td><td>(1980)</td><td>92%</td><td>Martin Scorsese</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Fighter'>The Fighter</a></td><td>(2010)</td><td>91%</td><td>David O. Russell</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Quiet Man'>The Quiet Man</a></td><td>(1952)</td><td>91%</td><td>John Ford</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Downfall'>Downfall</a></td><td>(2004)</td><td>90%</td><td>Oliver Hirschbiegel</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Reds'>Reds</a></td><td>(1981)</td><td>90%</td><td>Warren Beatty</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Love & Mercy'>Love & Mercy</a></td><td>(2014)</td><td>89%</td><td>Bill Pohlad</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Tremors'>Tremors</a></td><td>(1990)</td><td>88%</td><td>Ron Underwood</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Rain Man'>Rain Man</a></td><td>(1988)</td><td>88%</td><td>Barry Levinson</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Pee-wee's Big Adventure'>Pee-wee's Big Adventure</a></td><td>(1985)</td><td>88%</td><td>Tim Burton</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+12 Monkeys'>12 Monkeys</a></td><td>(1995)</td><td>88%</td><td>Terry Gilliam</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Donnie Darko'>Donnie Darko</a></td><td>(2001)</td><td>87%</td><td>Richard Kelly</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Star Trek Beyond'>Star Trek Beyond</a></td><td>(2016)</td><td>86%</td><td>Justin Lin</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Collateral'>Collateral</a></td><td>(2004)</td><td>86%</td><td>Michael Mann</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Sweeney Todd: The Demon Barber of Fleet Street'>Sweeney Todd: The Demon Barber of Fleet Street</a></td><td>(2007)</td><td>86%</td><td>Tim Burton</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Paprika'>Paprika</a></td><td>(2006)</td><td>86%</td><td>Satoshi Kon</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Master and Commander: The Far Side of the World'>Master and Commander: The Far Side of the World</a></td><td>(2003)</td><td>85%</td><td>Peter Weir</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Beyond the Lights'>Beyond the Lights</a></td><td>(2014)</td><td>84%</td><td>Gina Prince-Bythewood</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Neverending Story'>The Neverending Story</a></td><td>(1984)</td><td>83%</td><td>Wolfgang Petersen</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Matchstick Men'>Matchstick Men</a></td><td>(2003)</td><td>83%</td><td>Ridley Scott</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Goosebumps'>Goosebumps</a></td><td>(2015)</td><td>78%</td><td>Rob Letterman</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Addams Family Values'>Addams Family Values</a></td><td>(1993)</td><td>75%</td><td>Barry Sonnenfeld</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Cape Fear'>Cape Fear</a></td><td>(1991)</td><td>75%</td><td>Martin Scorsese</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Negotiator'>The Negotiator</a></td><td>(1998)</td><td>74%</td><td>F. Gary Gray</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Way Back'>The Way Back</a></td><td>(2010)</td><td>74%</td><td>Peter Weir</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Curious Case of Benjamin Button'>The Curious Case of Benjamin Button</a></td><td>(2008)</td><td>72%</td><td>David Fincher</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Captain Horatio Hornblower'>Captain Horatio Hornblower</a></td><td>(1951)</td><td>100%</td><td>Raoul Walsh</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Darby O'Gill and the Little People'>Darby O'Gill and the Little People</a></td><td>(1959)</td><td>100%</td><td>Robert Stevenson</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Ip Man 2'>Ip Man 2</a></td><td>(2010)</td><td>97%</td><td>Wilson Yip</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Zulu'>Zulu</a></td><td>(1964)</td><td>96%</td><td>Charles De Latour</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Judgment at Nuremberg'>Judgment at Nuremberg</a></td><td>(1961)</td><td>92%</td><td>Stanley Kramer</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Birdman of Alcatraz'>Birdman of Alcatraz</a></td><td>(1962)</td><td>91%</td><td>John Frankenheimer</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Places in the Heart'>Places in the Heart</a></td><td>(1984)</td><td>89%</td><td>Robert Benton</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Cooley High'>Cooley High</a></td><td>(1975)</td><td>89%</td><td>Michael Schultz</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Following'>Following</a></td><td>(1998)</td><td>84%</td><td>Christopher Nolan</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Mr. Majestyk'>Mr. Majestyk</a></td><td>(1974)</td><td>83%</td><td>Richard Fleischer</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Tremors 3: Back to Perfection'>Tremors 3: Back to Perfection</a></td><td>(2001)</td><td>80%</td><td>Brent Maddock</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Street Fighter II: The Animated Movie'>Street Fighter II: The Animated Movie</a></td><td>(1995)</td><td>80%</td><td>Gisaburo Sugii</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Crossroads'>Crossroads</a></td><td>(1986)</td><td>76%</td><td>Walter Hill</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Oh, God!'>Oh, God!</a></td><td>(1977)</td><td>75%</td><td>Carl Reiner</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Child's Play'>Child's Play</a></td><td>(1988)</td><td>74%</td><td>Tom Holland</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Greystoke: The Legend of Tarzan, Lord of the Apes'>Greystoke: The Legend of Tarzan, Lord of the Apes</a></td><td>(1984)</td><td>73%</td><td>Hugh Hudson</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Wedding Singer'>The Wedding Singer</a></td><td>(1998)</td><td>72%</td><td>Frank Coraci</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Cry Baby'>Cry Baby</a></td><td>(1990)</td><td>72%</td><td>John Waters</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Last Exorcism'>The Last Exorcism</a></td><td>(2010)</td><td>72%</td><td>Daniel Stamm</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Clue'>Clue</a></td><td>(1985)</td><td>71%</td><td>Jonathan Lynn</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Infiltrator'>The Infiltrator</a></td><td>(2016)</td><td>71%</td><td>Brad Furman</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+It's a Mad, Mad, Mad, Mad World'>It's a Mad, Mad, Mad, Mad World</a></td><td>(1963)</td><td>69%</td><td>Stanley Kramer</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Free Willy'>Free Willy</a></td><td>(1993)</td><td>71%</td><td>Simon Wincer</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Point Break'>Point Break</a></td><td>(1991)</td><td>70%</td><td>Kathryn Bigelow</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Murder by Death'>Murder by Death</a></td><td>(1976)</td><td>68%</td><td>Robert Moore</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Railway Man'>The Railway Man</a></td><td>(2013)</td><td>68%</td><td>Jonathan Teplitzky</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Running Man'>The Running Man</a></td><td>(1987)</td><td>67%</td><td>Paul Michael Glaser</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+2010'>2010</a></td><td>(1984)</td><td>67%</td><td>Peter Hyams</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Heroes of Telemark'>The Heroes of Telemark</a></td><td>(1965)</td><td>67%</td><td>Anthony Mann</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Uptown Saturday Night'>Uptown Saturday Night</a></td><td>(1974)</td><td>70%</td><td>Sidney Poitier</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The X-Files'>The X-Files</a></td><td>(1998)</td><td>66%</td><td>Rob Bowman</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Hachi: A Dog's Tale'>Hachi: A Dog's Tale</a></td><td>(2009)</td><td>64%</td><td>Lasse Hallström</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Jack Reacher'>Jack Reacher</a></td><td>(2012)</td><td>64%</td><td>Christopher McQuarrie</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Battle of the Bulge'>Battle of the Bulge</a></td><td>(1965)</td><td>63%</td><td>Ken Annakin</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Wood'>The Wood</a></td><td>(1999)</td><td>61%</td><td>Rick Famuyiwa</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Allied'>Allied</a></td><td>(2016)</td><td>60%</td><td>Robert Zemeckis</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Tremors II: Aftershocks'>Tremors II: Aftershocks</a></td><td>(1996)</td><td>60%</td><td>S.S. Wilson</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Let's Do It Again'>Let's Do It Again</a></td><td>(1975)</td><td>60%</td><td>Sidney Poitier</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+It's Kind of a Funny Story'>It's Kind of a Funny Story</a></td><td>(2010)</td><td>58%</td><td>Anna Boden</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+17 Again'>17 Again</a></td><td>(2009)</td><td>57%</td><td>Burr Steers</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Stargate'>Stargate</a></td><td>(1994)</td><td>54%</td><td>Roland Emmerich</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+What Dreams May Come'>What Dreams May Come</a></td><td>(1998)</td><td>52%</td><td>Vincent Ward</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Twilight Saga: Breaking Dawn Part 2'>The Twilight Saga: Breaking Dawn Part 2</a></td><td>(2012)</td><td>49%</td><td>Bill Condon</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Twilight Saga: Eclipse'>The Twilight Saga: Eclipse</a></td><td>(2010)</td><td>46%</td><td>David Slade</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Overboard'>Overboard</a></td><td>(1987)</td><td>46%</td><td>Garry Marshall</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Greatest Story Ever Told'>The Greatest Story Ever Told</a></td><td>(1965)</td><td>42%</td><td>George Stevens</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Majestic'>The Majestic</a></td><td>(2001)</td><td>42%</td><td>Frank Darabont</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Legend'>Legend</a></td><td>(1985)</td><td>42%</td><td>Ridley Scott</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Pure Country'>Pure Country</a></td><td>(1992)</td><td>41%</td><td>Christopher Cain</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Mechanic'>The Mechanic</a></td><td>(1972)</td><td>40%</td><td>Michael Winner</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Girl Who Believes in Miracles'>The Girl Who Believes in Miracles</a></td><td>(2021)</td><td>40%</td><td>Richard Correll</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Incredible Mr. Limpet'>The Incredible Mr. Limpet</a></td><td>(1964)</td><td>40%</td><td>Arthur Lubin</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Legend of Billie Jean'>The Legend of Billie Jean</a></td><td>(1985)</td><td>39%</td><td>Matthew Robbins</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Corrina, Corrina'>Corrina, Corrina</a></td><td>(1994)</td><td>37%</td><td>Jessie Nelson</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Memoirs of a Geisha'>Memoirs of a Geisha</a></td><td>(2005)</td><td>36%</td><td>Rob Marshall</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Longest Yard'>The Longest Yard</a></td><td>(2005)</td><td>31%</td><td>Peter Segal</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+8 Seconds'>8 Seconds</a></td><td>(1994)</td><td>31%</td><td>John G. Avildsen</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Three Musketeers'>The Three Musketeers</a></td><td>(1993)</td><td>30%</td><td>Stephen Herek</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Twilight Saga: New Moon'>The Twilight Saga: New Moon</a></td><td>(2009)</td><td>28%</td><td>Chris Weitz</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+A Walk to Remember'>A Walk to Remember</a></td><td>(2002)</td><td>29%</td><td>Adam Shankman</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+The Twilight Saga: Breaking Dawn Part 1'>The Twilight Saga: Breaking Dawn Part 1</a></td><td>(2011)</td><td>25%</td><td>Bill Condon</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Patch Adams'>Patch Adams</a></td><td>(1998)</td><td>21%</td><td>Tom Shadyac</td></tr>
<tr><td><a target='_blank' href='https://www.google.com/search?q=youtube+Drop Dead Fred'>Drop Dead Fred</a></td><td>(1991)</td><td>11%</td><td>Ate de Jong</td></tr>
</table>
</div>
</body>
</html>
